<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body style="background-image:url(background.png); background-size: 100%">
        <br><br>
        <script src="../js/jquery-3.2.1.slim.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center" style="background-color:beige">
                   
                    <h1 class="text-center display-4 my-4">Update Tutorials</h1>
                    
                    <form action="/update" method="POST">
                        <div class="input">
                            <textarea style="width:100%" rows="10" cols="70" name="content"><%= content %></textarea>
                        </div>
                        <div class="input">
                            
                            <input type="hidden" value= "<%= type %>" id="type" name="type">
                        </div>
                        <div class="input">
                            <input type="hidden" value= "<%= top %>" id="top" name="topic">
                            
                        </div>
                        <div class="input">
                            
                            <input type="hidden" value= "<%= less %>" id="less" name="lesson">
                        </div>
                        <div class="input">
                          
                            <input type="hidden" value= "<%= num %>" id="num" name="num">
                        </div>
                        <div class="input">
                          
                            <input type="hidden" value= "<%= idy %>" id="id" name="id">
                        </div>
                        <button type="submit" class="btn-primary btn-block btn-lg">INSERT</button>
                    </form>
                    
                    
                </div>  
            </div>
        </div>
        
    </body>
    <footer>
        <% include ../partials/footer %>   
    </footer>
</html>