<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body style="background-image:url(background.png); background-size: 100%">
        <br><br>
        <script src="../js/jquery-3.2.1.slim.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto" style="background-color:beige">
                    <% include ../partials/header %>
                    <h1 class="text-center display-4 my-4">Update Quiz</h1>
               
                    <form action="/updatequiz" method="POST">
                        <div class="input">
                            <textarea style="width:100%" rows="10" cols="70" name="question"><%= question %></textarea>
                        </div>
                        <div class="input">
                            
                            <input type="hidden" value= "<%= topic %>" id="type" name="topic">
                        </div>
                        <div class="input">
                            <input type="text" value= "<%= choice1 %>" id="top" name="choice1">
                            
                        </div>
                        <div class="input">
                            
                            <input type="text" value= "<%= choice2 %>" id="less" name="choice2">
                        </div>
                        <div class="input">
                          
                            <input type="text" value= "<%= choice3 %>" id="num" name="choice3">
                        </div>
                        <div class="input">
                          
                            <input type="text" value= "<%= choice4 %>" id="id" name="choice4">
                        </div>
                        <div class="input">
                          
                            <input type="hidden" value= "<%= num %>" id="id" name="num">
                        </div>
                        <div class="input">
                          
                            <input type="hidden" value= "<%= id %>" id="id" name="id">
                        </div>
                        <button type="submit" class="btn-primary btn-block btn-lg">INSERT</button>
                    </form>
                    
               
                </div>  
            </div>
        </div>
        
    </body>
    <footer>
        <% include ../partials/footer %>   
    </footer>
</html>